:root {
  --main: #27a776;
}

body {
  position: relative;
}

.bgsec {
  background: #000b0c;
}

.s-letter {
  /*First letter OF 'Sainul'*/
  color: var(--main);
  font-size: 3rem;
}

.nav-item,
.active {
  position: relative;
}

.nav-item::before,
.nav-item a::after {
  /*First for hover, Second for Pagination*/
  position: absolute;
  bottom: 4px;
  left: 6px;
  right: 0;
  margin: auto;
  background-color: #fff;
  width: 0%;
  content: "";
  height: 2px;
  transition: all 0.3s;
}

.nav-item:hover::before,
a.active::after {
  width: 80%;
}
@media (max-width: 400px) {
  .navbar {
    padding: 0.5rem 0rem !important;
  }
}

.navbar a {
  text-transform: uppercase;
}

.nav .nav-item a.active {
  /*  */
  background-color: transparent;
}

.padsec {
  padding: 6.5rem 2rem !important;
}

.pad-contact {
  padding: 6.5rem 0rem !important;
}

.bg-image {
  background-image: url(images/background1.jpg);
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.typed-cursor--blink {
  color: #fff;
}

.typed-cursor {
  color: #fff;
  font-size: 1.5rem;
}

.center-text {
  text-align: center;
}

.title-text {
  color: #fff;
  font-weight: 600;
}

.title-text {
  font-size: calc(2.525rem + 0.3vw);
}

@media (min-width: 1200px) {
  .title-text {
    font-size: 5rem;
  }
}

.title-typed {
  font-size: 1.5rem;
  font-weight: 600;
}

#head-bar {
  transition: 0.4s;
}

.img-service {
  height: 7rem;
  transition: 500ms;
}

.img-service:hover {
  transform: scale(1.1);
}

#services {
  background-color: #f5f5f5;
}

.card {
  border-radius: 1rem !important;
  box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}

ul {
  list-style-type: none;
}

ul li::before {
  /* for custom Bullet */
  content: "\2022";
  color: #27a776;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

li {
  margin-left: 17px;
}

ul {
  padding: 0;
}

.content-head {
  font-size: 38px;
  font-weight: 700;
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.line-main {
  /* for main title underline */
  width: 50px;
  height: 5px;
  background-color: var(--main);
  margin: auto;
  margin-bottom: 2rem;
}

.info-box {
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
}

.info-box i.bx {
  color: var(--main);
  padding: 14px;
  font-size: 24px;
  float: left;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.info-box h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

.info-box p {
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

.soc-link {
  margin-left: 68px;
}

.soc-link a {
  text-decoration: none;
  margin-right: 12px;
  color: #fff;
  transition: all 0.3s;
}

.soc-link a:hover {
  color: var(--main);
  text-decoration: none;
}

#about {
  background: black;
  color: #fff;
}

#contact-me {
  color: #fff;
}

.form-control:focus {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.11) !important;
  outline: 0 !important;
  border-color: none !important;
  box-shadow: none !important;
}

.form-control {
  color: #ececec !important;
  border: none !important;
  background-color: rgba(255, 255, 255, 0.08) !important;
  transition: 0.3s !important;
  border-radius: 0rem !important;
}

.btn-submit {
  background: #18d26e;
  border-color: #18d26e;
  width: 20%;
  color: #fff;
}

.btn-submit:hover {
  background: #15bb62;
}

.btn:focus {
  box-shadow: none !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(svg/toggle-icon.svg) !important;
}

#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
}

#loading-image {
  z-index: 100;
}

.dev-head {
  /*node js title*/
  color: var(--main);
}

#mailMe a{
color: white;
text-decoration: none;
}

.error {
  color: #dc3545;
}
